<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Math Question</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']],
                    displayMath: [['$$', '$$']]
                },
                svg: { fontCache: 'global' }
            };
        </script>
    </head>
    
    <body>
        <form method="post">
            {% for question in questions.values() %}
                <div>
                    <h3>Câu {{ loop.index }}: {{ question.question | safe }}</h3>
                    {% set question_name = 'question_' + loop.index|string %}
                    {% for option in question.options %}
                        <label>
                            <input type="radio" name="{{ question_name }}" value="{{ option }}"> 
                            ${{ option | safe }}$
                        </label><br>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" name="button_action" value="activated" >Gửi</button>
        </form>

    </body>    
</html>
